<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Foodplan 2021 - Меню на неделю FOODPLAN</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/logo.8d8f24edbb5f.svg" height="55" width="189" alt="">
                </a>
                {% if price == 0 %}
                    <h3 class="text-secondary mt-2 me-2"></h3>
                {% else %}
                    <h3 class="text-secondary mt-2 me-2">Стоимость: {{ price }} руб.</h3>
                {% endif %}
                <a class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green" href="{% url 'logout' %}">Выйти</a>
            </div>
        </nav>
    </header>
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и Кето.</h5>
                <div class="row mb-5">
                    <div class="col-6 col-md-3">
                        
                        <label for="classic" class="position-relative" style="cursor: pointer;">
                            <img src="../static/img/menu_classical.png" alt="" class="w-100">
                            <input form="order" type="radio" name="name" id="classic" value="classic" class="foodplan_selected d-none">
                            <div class="img_selected" id="img1"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">
                        
                        <label for="low" class="position-relative" style="cursor: pointer;">
                            <img src="../static/img/menu_nizkougl.png" alt="" class="w-100">
                            <input form="order" type="radio" name="name" id="low" value="low_carb" class="foodplan_selected d-none">
                            <div class="img_selected" id="img2"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">
                        
                        <label for="veg" class="position-relative" style="cursor: pointer;">
                            <img src="../static/img/menu_veg.png" alt="" class="w-100">
                            <input form="order" type="radio" name="name" id="veg" value="vegeterian" class="foodplan_selected d-none">
                            <div class="img_selected" id="img3"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">
                        
                        <label for="keto" class="position-relative" style="cursor: pointer;">
                            <img src="../static/img/menu_keto.png" alt="" class="w-100">
                            <input form="order" type="radio" name="name" id="keto" value="keto" class="foodplan_selected d-none">
                            <div class="img_selected" id="img4"></div>
                        </label>
                    </div>
                </div>
                <h2><strong>Выберите подходящий тариф</strong></h2>
                <form id="order" method="post">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                                        {% endif %}
                <table class="table text-center text-truncate mb-5">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Срок</th>
                            <td>
                                {{ form.time }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Завтраки</th>
                            <td>
                                {{ form.breakfast_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Обеды</th>
                            <td>
                                {{ form.lunch_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Ужины</th>
                            <td>
                                {{ form.dinner_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Десерты</th>
                            <td>
                                {{ form.desert_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Кол-во персон</th>
                            <td>
                                {{ form.persons_choice }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Аллергии</th>
                            <td>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.fish_allergy }}
                                    <label class="form-check-label">
                                        Рыба и морепродукты
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.meat_allergy }}
                                    <label class="form-check-label">
                                        Мясо
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.seed_allergy }}
                                    <label class="form-check-label">
                                        Зерновые
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.bee_allergy }}
                                    <label class="form-check-label">
                                        Продукты пчеловодства
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.nut_allergy }}
                                    <label class="form-check-label">
                                        Орехи и бобовые
                                    </label>
                                </div>
                                <div class="form-check d-flex justify-content-start">
                                    {{ form.lactose_allergy }}
                                    <label class="form-check-label">
                                        Молочные продукты
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" id="TableSubmit" class="d-none"></button>
                    <div class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
                    <label class="form-label me-2">Промокод</label>
<!--                    <input name="promo_code" type="password" class="form-control me-2" id="password">-->
                    {{ form.promo_code }}
                    <button name="promo_code_submit" form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Применить</button>
                </div>
                </form>
                <div class="d-flex justify-content-center my-5">
                    <button name="count_price" form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Рассчитать</button>
                    <button name="order" form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Оплатить</button>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
